.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.btn:hover {
  background-color: #4d84e2;
  color: #fff;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
@media (max-width: 870px) {
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
}